[Desktop Entry]
Name=ui-designer
Path=/home/j/Desktop/c/ui-designer
Exec=xdg-open /home/j/Desktop/c/ui-designer
Icon=/home/j/Desktop/gicon/ui-designer-light.png
Type=Application
