[Desktop Entry]
Name=geospatial
Path=/home/j/Desktop/c/geojson
Exec=xdg-open /home/j/Desktop/c/geojson
Icon=/home/j/Desktop/gicon/geojson.png
Type=Application
