[Desktop Entry]
Name=hw-info
Path=/home/j/Desktop/c/hw-info
Exec=xdg-open /home/j/Desktop/c/hw-info
Icon=/home/j/Desktop/gicon/hwinfo.png
Type=Application
